<a href="https://colab.research.google.com/github/TEDOWORLD/pythonclasses/blob/master/python_journey5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# Ask the user to enter
# their name and then
# display their name
# three times.

name = input("Enter your name: ")
for i in range (0,3):
  print(name)

Enter your name: Teddy
Teddy
Teddy
Teddy

In [6]:
# Alter program above so that it will ask the user to enter their
# name and a number and then display their name that
# number of times.

name = input("Enter your name: ")
for i in range (0,5):
  print(i, name)

Enter your name: Teddy
0 Teddy
1 Teddy
2 Teddy
3 Teddy
4 Teddy

In [9]:
# Ask the user to enter their name and display each letter in
# their name on a separate line.

name = input("Enter your name: ")
for i in name: 
  print(i)

Enter your name: Teddy
T
e
d
d
y

In [2]:
# Change program
# above to also ask for a
# number. Display
# their name (one
# letter at a time on
# each line) and
# repeat this for the
# number of times
# they entered.
number= int(input("Enter a number: "))
name = input("Enter your name: ")


for x in name:
  for i in range(0,number):
    print(x, i)

Enter a number: 5
Enter your name: Teddy
T 0
T 1
T 2
T 3
T 4
e 0
e 1
e 2
e 3
e 4
d 0
d 1
d 2
d 3
d 4
d 0
d 1
d 2
d 3
d 4
y 0
y 1
y 2
y 3
y 4

In [3]:
# Ask the user to enter a number between 1
# and 12 and then display the times table for
# that number.# they entered in the output.

number= int(input("Enter a number between 1 and 12: "))

for i in range(0,13):
  times_results = i*number
  print(f"{number}x {i} ={times_results} ")

Enter a number between 1 and 12: 5
5x 0 =0
5x 1 =5
5x 2 =10
5x 3 =15
5x 4 =20
5x 5 =25
5x 6 =30
5x 7 =35
5x 8 =40
5x 9 =45
5x 10 =50
5x 11 =55
5x 12 =60

In [16]:
# Ask for a number below 50 and then count down from
# 50 to that number, making sure you show the number

number= int(input("Enter a number below 50: "))
for i in range(50,number-1,-1):
    print(i)

Enter a number below 50: 40
50
49
48
47
46
45
44
43
42
41
40

In [24]:
# Ask the user to enter their
# name and a number. If the
# number is less than 10, then
# display their name that
# number of times; otherwise
# display the message “Too
# high” three times.

name = (input("Enter your name: "))
num= int(input("Enter a number : "))

if num <10:
  for i in range(0,num):
    print(name)

else:
  for i in range(0,3):
    print("Too high")

Enter your name: trddy
Enter a number : 12
Too high
Too high
Too high

In [14]:
# Create a variable called
# compnum and set the value
# to 50. Ask the user to enter a
# number. While their guess
# is not the same as the
# compnum value, tell them if
# their guess is too low or too
# high and ask them to have
# another guess. If they enter
# the same value as
# compnum, display the
# message “Well done, you
# took [count] attempts”.


campnum = 50
num = int(input("Guess a number: "))
count = 1
while num != campnum:
  if num < campnum:
    print("Guess is too low")
  else:
    print("Guess is too high")
  count = count + 1
  num = int(input("Guess another number: "))
print(f" well done, you took {count} attempts")

Guess a number: 23
Guess is too low
Guess another number: 12
Guess is too low
Guess another number: 45
Guess is too low
Guess another number: 50
 well done, you took4 attempts

In [5]:
# Ask the user to enter a number between
# 10 and 20. If they enter a value under 10,
# display the message “Too low” and ask
# them to try again. If they enter a value
# above 20, display the message “Too high”
# and ask them to try again. Keep repeating
# this until they enter a value that is
# between 10 and 20 and then display the
# message “Thank you”.

num = int(input(" Enter a number between 10 and 20: "))
while num < 10 or num > 20:
  if num < 20:
    print("Too low")
  else:
    print("Too high")

  num = int(input(" try agin "))
print("Thank you")

 Enter a number between 10 and 20: 21
Too high
 try agin 2
 Too low
 try agin 67
Too high
 try agin 13
Thank you